# Default ignored files
/shelf/
.idea/
.claude/
.editorconfig
/mod*
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Local patch script
local-patch.ps1
